.server-list-section {
  padding: 20px;
}

.server-list-title {
  margin-bottom: 10px;
}

.server-list-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3273dc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.server-list-link:hover {
  background-color: #2766c2;
}

.player-count-section {
  padding: 20px;
  text-align: center;
}

.monospaced-fonts {
  font-family: "Roboto Mono", monospace;
}
.section {
  margin-bottom: -2rem; /* Adjust the margin-bottom value as desired */
}
    /* Add a custom style section for adjusting card heights */
    .repo-cards {
      display: flex;
      justify-content: space-between;
      align-items: stretch; /* Align cards to stretch to equal height */
    }
    .card {
      flex: 1;
    }